.left_container{
  display: flex;
  flex-direction: column;
  margin-right: 240px;
  padding-bottom: 30px;
  padding-left: 30px;
  height: 100vh;
  overflow: auto;
}

.information_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}

.information_label{
  font-size: 16px;
  font-weight: bold;
  color: #495057;
  white-space: nowrap;
  width: 116px;
}

.information_input, .information_select{
  width: 320px;
  height: 40px;
  padding: 0 8px ;
  font-size: 16px;
  font-weight: 300;
  border: 1.5px solid #BBC1C7;
  color: #000B58;
  background-color:#F8F9FA ;
  border-radius: 5px;
}

.explanations_textarea{
  width: 320px;
  height: 160px;
  padding: 8.5px 15px 8.5px 8.5px;
  font-size: 16px;
  font-weight: 300;
  background-color:#F8F9FA ;
  border: 1.5px solid #BBC1C7;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
  text-align: right;
  white-space: pre-line;
  color: #000B58;
}
