@tailwind base;
@tailwind components;
@tailwind utilities;

/* فونت‌های سفارشی */
@font-face {
  font-family: 'ArabicDisplayBlack';
  src: url('../../font/ARABICUIDISPLAYBLACK.OTF') format('opentype');
}

@font-face {
  font-family: 'ArabicDisplayBold';
  src: url('../../font/ARABICUIDISPLAYBOLD.OTF') format('opentype');
}

@font-face {
  font-family: 'ArabicDisplayMedium';
  src: url('../../font/ARABICUIDISPLAYMEDIUM.OTF') format('opentype');
}

@font-face {
  font-family: 'Saba';
  src: url('../../font/SABA-[@I_FONT].TTF') format('truetype');
}

/* تعریف کلاس‌های سفارشی */
@layer utilities {
  .font-arabic-bold {
    font-family: 'ArabicDisplayBold';
  }

  .font-arabic-medium {
    font-family: 'ArabicDisplayMedium';
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
html {
  height: 100%;
}



.div_frame1 {
  display: grid;
  grid-template-columns: 720px 1fr;
  column-gap: 10px;
  width: 100%;
  height: 100vh;
  /* تغییر به 100vh برای ارتفاع کل صفحه */
}

.div_project_title {
  background-color: #000B58;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 100%;
  /* تغییر به 100% برای اشغال کردن تمام ارتفاع والد */
}

.div_login_form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  direction: rtl;
  text-align: right;
  height: 100%;
  /* اطمینان از اینکه این بخش هم 100% ارتفاع خواهد داشت */
}

.div_group_content {
  justify-content: center;
  align-items: center;
}

.div_welcome {
  display: flex; /* فعال کردن flexbox */
  flex-direction: column; /* چینش آیتم‌ها به صورت عمودی */
  justify-content: center; /* وسط‌چین کردن عمودی */
  align-items: center; /* وسط‌چین کردن افقی */
}



.div_rememeber_me {
  margin-bottom: 35px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.para_title {
  font-size: 70px;
  font-weight: 700;
  font-family: 'Saba';
  line-height: 126px;
}

.para_enter_account {
  font-size: 26px;
  font-family: 'Saba';
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 0;
  color: #101828;
  display: flex; /* فعال کردن flexbox */
  justify-content: center; /* وسط‌چین کردن افقی */
  align-items: center; /* وسط‌چین کردن عمودی */
  text-align: center; /* اطمینان از اینکه متن در داخل تگ هم وسط‌چین باشد */
}


.para_welcome {
  font-size: 18px;
  line-height: 26px;
  font-family: 'ArabicDisplayMedium';
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 30px;
  color: #1B1D1F;
  display: flex; /* فعال کردن flexbox */
  justify-content: center; /* وسط‌چین کردن افقی */
  align-items: center; /* وسط‌چین کردن عمودی */
  text-align: center; /* اطمینان از اینکه متن در داخل تگ هم وسط‌چین باش*/
}

.span_project_name {
  color: rgb(51, 6, 51);
}

.span_project_name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.relative_position {
  position: relative;
  display: flex;
  align-items: center;
  
  /* برای تراز وسط عمودی */
}



.input_password,
.input_username {
  background-color: #F8F9FA;
  border: solid;
  border-radius: 5px;
  border-color: #BBC1C7;
  width: 100%;
  max-width: 400px;
  height: 40px;
  border-width: 1.5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-family: 'ArabicDisplayMedium';
}

.input_password{
  position: relative;
  z-index: 1; /* آیکن را بالای فیلد قرار می‌دهد */

}


.input_wrapper .input_error {
  border: 1.5px solid red;
}

.para_username,
.para_password {
  color: #495057;
  font-family: 'ArabicDisplayMedium';
  size: 14px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 7px;
}


.input_wrapper {
  display: flex;
  flex-direction: column;
}



.checkbox_remember_me {
  height: 15px;
  width: 15px;
  border: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: #000B58;
  margin-left: 5px;
}

.label_remember_me {
  font-size: 12px;
  line-height: 23px;
  font-family: 'ArabicDisplayMedium';
  width: 87px;
  height: 23px;
}

.para_forgot_password {
  margin-right: 150px;
  display: inline-block;
  width: 159px;
  height: 23px;
  font-size: 12px;
  line-height: 23px;
  font-family: 'ArabicDisplayMedium';
  color: #1B02B7;
}

.btn_login {
  background-color: #000B58;
  width: 100%;
  /* Makes button responsive */
  max-width: 400px;
  height: 32px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #F8F9FA;
  font-family: 'ArabicDisplayMedium';
  margin-top: 20px;
}



.div_content {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.register {
  @apply mt-[20px] whitespace-nowrap font-arabic-medium text-[14px] text-[#969696];
}

.register_btn {
  @apply mr-[5px] whitespace-nowrap text-[#1B02B7] font-bold;
}



.eye_icon {
  position: absolute;
  left: 30px; /* تنظیم فاصله از سمت چپ */
  top: 50%;
  transform: translateY(-50%); /* مرکز عمودی آیکن */
  cursor: pointer; /* تغییر ظاهر موس به اشاره‌گر */
  z-index: 2; /* آیکن را بالای فیلد قرار می‌دهد */
}

.eye {
  @apply w-[20px] h-[20px];
}

/* صفحه جدید برای تایید کد اشتباه*/
.div_verification_error {
  display: none;
  background-color: #f8d7da;
  color: red;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.div_verification_error .error_message {
  margin: 0;
  font-size: 14px;
  color: red;
}

.input_code.error {
  border: 2px solid red;
}

.input_error {
  border: 1px solid red;
}

.error_container {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
  color: red;
}

.icon_warning {
  margin-right: 5px;
}

.error_message {
  font-size: 12px;
  margin: 0;
  font-family: 'ArabicDisplayMedium';
}


@media (max-width: 768px) {
  .div_frame1 { 
      grid-template-columns: 1fr; /* Stacks columns vertically */
  } 
  
  .div_project_title, .div_login_form {
      width: 100%;
  } 
  
  .div_project_title {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .para_title { 
      font-size: 50px; /* Adjust font size for smaller screens */ line-height: 80px; 
  } 
  
  .para_enter_account {
       font-size: 22px; /* Adjust font size for smaller screens */ line-height: 40px;
      }
}

@media (max-width: 480px) { 
  .label_remember_me, .para_forgot_password {
      font-size: 12px; /* Adjust font size for very small screens */
  } 
   
   .para_title {
      font-size: 40px; /* Adjust font size for smaller screens */ line-height: 60px;
  } 
  
  .para_enter_account { 
      font-size: 18px; /* Adjust font size for smaller screens */ line-height: 30px;
  }
}
