.header{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  min-width: 100vw;
  max-width: 100vw;
  padding: 24px 32px;
  background-color: #F8F9FA;
  z-index: 1000;
}

.right_header{
  position: relative;
  flex:2;
  align-items: center;
  font-size: 14px;
  color: #000B58;
}

.left_header{
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input_div{
  position: relative;
  width: 417px;
  height: 38px;
}

.search_bar{
  width: 417px;
  height: 38px;
  padding: 5px 10px 5px 5px;
  background-color: #E2E5E9;
  border: none;
  border-radius: 5px;
}

/*
.chat_img{
  width: 30px;
  height: 30px;
  margin-left: 20px;
}*/

.notif_img{
  width: 30px;
  height: 30px;
  
}

.notification_dot {
  position: absolute; /* Position absolutely within the container */
  top: 5px; /* Align to the top */
  right:5px; /* Align to the right */
  width: 6px; /* Adjust width of the dot image as needed */
  height: 6px; /* Adjust height of the dot image as needed */
}
/*
.header_name{
  margin-left: 20px;
}

.drop_down_img{
  width: 18px;
  height: 18px;
}*/